<div class="row">
  <div class="col-xs-12">
    <h5>Finances</h5>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">

    <div class="btn-group" role="group" aria-label="Manage Event">
      <button type="button" class="btn btn-success" (click)="onEditEvent()">Edit</button>
      <button type="button" class="btn btn-danger">Delete</button>
      <button type="button" class="btn btn-secondary">Send Gate List</button>
      <button type="button" class="btn btn-warning">Send Reminder</button>
    </div>

    <!-- <div 
      class="btn-group"
      appDropdown>
      <button 
        type="button" 
        class="btn btn-primary dropdown-toggle">
        Manage Event<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a>Edit</a></li>
        <li><a>Delete</a></li>
        <li><a>Send Gate List</a></li>
        <li><a>Send Reminder</a></li>
      </ul>
    </div> -->

  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="list-group-item-text">Estimated Check: ${{ event.estimatedCheck }}</div>
    <div class="list-group-item-text">Actual Check: ${{ event.actualCheck }}</div>
    <div class="list-group-item-text">Estimated Profit: ${{ event.estimatedProfit }}</div>
    <div class="list-group-item-text">Actual Profit: ${{ event.actualProfit }}</div>
  </div>
</div>
