.container {
  margin-left: 10px;
}

.event-btn {
  /* min-width: 200px; */
  background-color: #0579AE;
  color: white;
}

.get-staff-btn {
  background-color: maroon;
  color: white;
}

.align-right {
  text-align: right;
}

.deleteConfirm {
  margin-left: 200px;
  color: maroon;
  font-weight: bold;
  font-size: 18px;
}

.numInput {
  width: 60px;
}
