<!--------------------------------------------------------------------
  - PNC event details 
---------------------------------------------------------------------->
<div *ngIf="idVenue == 1">
  <div *ngIf="eventEdit == false">
    <table class="table table-sm table-responsive">
      <tbody>
        <tr>
          <td colspan="4">Doors: {{ checkForNullString(getTime(event.Date)) }}</td>
          <td colspan="4">Location: {{ checkForNullString(event.location) }}</td>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td colspan="4">Total Sales: ${{ (checkForNullNum(event.totalSalesPnc)).toFixed(2) }}</td>
          <td colspan="4">Alc Sales: ${{ (checkForNullNum(event.alcSales)).toFixed(2) }}</td>
          <td colspan="4">Venue Bonus: ${{ (checkForNullNum(event.venueBonus)).toFixed(2) }}</td>
        </tr>
        <tr>
          <td colspan="4">Payout: ${{ (checkForNullNum(event.payout)).toFixed(2) }}</td>
          <td colspan="4">Est. Check: ${{ (checkForNullNum(event.estimatedCheck)).toFixed(2) }}</td>
          <td colspan="4">Est. Profit: ${{ (checkForNullNum(event.estimatedProfit)).toFixed(2) }}</td>
        </tr>
        <tr>
          <td colspan="4">Discrepancy: ${{ (checkForNullNum(event.discrepancy)).toFixed(2) }}</td>
          <td colspan="4">Actual Check: ${{ (checkForNullNum(event.actualCheck)).toFixed(2) }}</td>
          <td colspan="4">Actual Profit: ${{ (checkForNullNum(event.actualProfit)).toFixed(2) }}</td>
        </tr>
        <tr>
          <td colspan="4">TAC Cut: ${{ (checkForNullNum(event.tacCut)).toFixed(2) }}</td>
          <td colspan="4">DR Cut: ${{ (checkForNullNum(event.drCut)).toFixed(2) }}</td>
          <td colspan="4">Coordinator Payout: ${{ (checkForNullNum(event.coordinatorAdminAmt)).toFixed(2) }}</td>
        </tr>
        <tr>
          <td colspan="12">Notes: {{ checkForNullString(event.eventNotes) }}</td>
        </tr>
        <tr>
          <td colspan="3">  
            <i class="far fa-square" *ngIf="!event.closed"></i>
            <i class="far fa-check-square" *ngIf="event.closed"></i>
            Closed
          </td>
          <td colspan="3">
            <i class="far fa-square" *ngIf="!event.metCommissionBonus"></i>
            <i class="far fa-check-square" *ngIf="event.metCommissionBonus"></i>
            Met Commission Bonus
          </td>
          <td colspan="3">
            <i class="far fa-square" *ngIf="!event.eventCountsTowardsTotal"></i>
            <i class="far fa-check-square" *ngIf="event.eventCountsTowardsTotal"></i>
            Count Towards Total
          </td>
          <td colspan="3">
            <i class="far fa-square" *ngIf="!event.guarantee"></i>
            <i class="far fa-check-square" *ngIf="event.guarantee"></i>
            Guarantee
          </td>
        </tr>
      </tbody>
    </table>

    <tr>
      <td colspan="4">
        <button type="button" class="btn event-btn" (click)="onEditEvent()">Edit Event</button>
      </td>
      <td colspan="4">
        <button type="button" class="btn event-btn" (click)="confirmGateList=false; onDeleteEvent()">Delete Event</button>
      </td>
      <td colspan="4">
        <button type="button" class="btn event-btn" (click)="confirmGateList=true; confirmDelete=false">Send Gate List</button>
      </td>
    </tr>

    <div class="deleteConfirm" *ngIf="confirmDelete">
      Are your sure you want to delete this event?&nbsp;
      <button class="btn btn-outline-danger" (click)="onDeleteNo()">No</button>
      &nbsp;&nbsp;
      <button class="btn btn-outline-info" (click)="onDeleteYes()">Yes</button>
    </div>

    <div class="confirmGateList" *ngIf="confirmGateList">
      <form [formGroup]="gateListForm" (ngSubmit)="onGateListSubmit()">
        <div class="form-row">
          <div class="form-group col-md-12">
            What do you want to do with the Gate List?
            &nbsp;
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="emailGateList" formControlName="emailGateList">
              <label class="form-check-label" for="emailGateList">
                Email
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="downloadGateList" formControlName="downloadGateList">
              <label class="form-check-label" for="downloadGateList">
                Download
              </label>
            </div>
            <button class="btn btn-outline-info" type="submit">Send</button>
            &nbsp;
            <button class="btn btn-outline-danger" type="button" (click)="confirmGateList=false">Cancel</button>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="noStaffMsg">
      <form>
        <div class="form-row">
          <div class="col-md-1"></div>
          <div class="col-md-7 noStaffMsg">
            No staff are listed for this event.
          </div>
          <div class="col-md-2">
            <button class="btn btn-info" (click)="onOkNoStaff()">OK</button>
          </div>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div *ngIf="!getStaff">
          <button class="btn get-staff-btn" (click)="getTimesheetForEvent()">Get Staff</button>
        </div>
        <div *ngIf="getStaff">
          <div *ngIf="!eventStaffEdit && !eventStaffAdd && !reminderInfo">
            <hr>
            <table class="table table-striped table-sm">
              <thead class="thead-dark">
                <tr>
                  <th>Staff</th>
                  <th>Job</th>
                  <th>Rate</th>
                  <th>Scheduled Time</th>
                  <th>Time In</th>
                  <th>Time Out</th>
                  <th class="align-right">Hrs Worked</th>
                  <th class="align-right">Event Bonus</th>
                  <th class="align-right">Hourly Bonus</th>
                  <th class="align-right">Payout</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let t of timesheet">
                  <td>{{ checkForNullString(t.lastName) }}, {{ checkForNullString(t.firstName) }}</td>
                  <td>{{ checkForNullString(t.jobName) }}</td>
                  <td>{{ checkForNullNum(t.hourlyRate) }}</td>
                  <td>{{ checkForNullString(getTime(t.scheduledArrivalTime)) }}</td>
                  <td>{{ checkForNullString(getTime(t.timeIn)) }}</td>
                  <td>{{ checkForNullString(getTime(t.timeOut)) }}</td>
                  <td class="align-right">{{ checkForNullNum(t.hoursWorked) }}</td>
                  <td class="align-right">{{ checkForNullNum(t.eventBonus) }}</td>
                  <td class="align-right">{{ checkForNullNum(t.hourlyBonus) }}</td>
                  <td class="align-right">{{ checkForNullNum(t.creditAmount) }}</td>
                  <td>
                    <button class="btn btn-info" (click)="onEditStaff(t)">Edit</button>
                  </td>
                </tr>
              </tbody>
            </table>

            <tr>
              <td colspan="3">
                <button type="button" class="btn btn-info" (click)="onAddStaff()">Add Staff Member</button>
              </td>
              <td colspan="3">
                <button class="btn btn-info" (click)="onAddEventBonus()">Add Event Bonus</button>
              </td>
              <td colspan="3">
                <button class="btn btn-info" (click)="onAddHourlyBonus()">Add Hourly Bonus</button>
              </td>
              <td colspan="3">
                <button type="button" class="btn btn-info" (click)="onSendReminder()">Send Reminder</button>
              </td>
            </tr>

            <div *ngIf="addEventBonus">
              <form [formGroup]="ebForm" (ngSubmit)="onEventBonusAdded()">
                <div class="form-row">
                  <div class="form-group col-md-5">
                    Add Event Bonus to all staff:
                  </div>
                  <div class="form-group col-md-2">
                    <input type="number" class="numInput form-control" id="ebAmount" formControlName="ebAmount">
                  </div>
                  <div class="form-group col-md-2">
                    <button class="btn btn-outline-info" type="submit">Add</button>
                  </div>
                  <div class="form-group col-md-2">
                    <button class="btn btn-outline-info" type="button" (click)="onCancelBonus()">Cancel</button>
                  </div>
                </div>
              </form>
             </div>

            <div *ngIf="addHourlyBonus">
              <form [formGroup]="hbForm" (ngSubmit)="onHourlyBonusAdded()">
                <div class="form-row">
                  <div class="form-group col-md-5">
                    Add Hourly Bonus to all staff:
                  </div>
                  <div class="form-group col-md-2">
                    <input type="number" class="numInput form-control" id="hbAmount" formControlName="hbAmount">
                  </div>
                  <div class="form-group col-md-2">
                    <button class="btn btn-outline-info" type="submit">Add</button>
                  </div>
                  <div class="form-group col-md-2">
                    <button class="btn btn-outline-info" type="button" (click)="onCancelBonus()">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div> <!-- *ngIf="!eventStaffEdit && !eventStaffAdd && !reminderInfo" -->

          <div *ngIf="!eventStaffEdit && !eventStaffAdd && reminderInfo">
              <table class="table table-striped table-sm">
                <thead class="thead-dark">
                  <tr>
                    <th>
                        <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" (change)="checkUncheckAll()">
                    </th>
                    <th>Staff</th>
                    <th>Job</th>
                    <!-- <th>Last Reminder</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of checklist">
                    <td>
                        <input type="checkbox" [(ngModel)]="item.isSelected" name="list_name" value={{item.id}} (change)="isAllSelected()" >
                    </td>
                    <td>{{ checkForNullString(item.name) }}</td>
                    <td>{{ checkForNullString(item.jobName) }}</td>
                    <!-- <td>00-00-0000</td> -->
                  </tr>
                </tbody>
              </table>

                <!-- TODO: Insert editable text for reminder email -->

              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                  <button class="btn btn-info" type="button" (click)="onCancelReminder()">Cancel</button>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-info" type="button" (click)="onSubmitReminder()">Send</button>
                </div>
              </div>
          </div>

          <div *ngIf="eventStaffEdit == true">
            <app-event-staff-edit [timesheet]="editTimesheet" [event]="event"></app-event-staff-edit>
          </div>
          <div *ngIf="eventStaffAdd == true">
            <app-event-staff-add [event]="event"></app-event-staff-add>
          </div>
        </div> <!-- *ngIf==getStaff -->
       
      </div> <!-- col-md-12 -->
    </div> <!-- row -->
  </div>
 
  <app-event-edit *ngIf="eventEdit == true" [currentVenueID]="currentVenueID" [event]="event"></app-event-edit>

</div>

<!--------------------------------------------------------------------
  - WC event details 
---------------------------------------------------------------------->
<div *ngIf="idVenue == 2">
  <div *ngIf="eventEdit == false">
    <table class="table table-sm table-responsive">
      <tbody>
        <tr>
          <td colspan="4">Doors: {{ checkForNullString(getTime(event.Date)) }}</td>
          <td colspan="4">Location: {{ checkForNullString(event.location) }}</td>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td colspan="4">Credit Card Tips: {{ (checkForNullNum(event.creditCardTips)).toFixed(2) }}</td>
          <td colspan="4">Max Credit Card Tips: {{ (checkForNullNum(event.maxCreditCardTipAmount)).toFixed(2) }}</td>
          <td colspan="4">Venue Bonus: {{ (checkForNullNum(event.venueBonus)).toFixed(2) }}</td>
        </tr>
        <tr>
          <td colspan="4">Payout: ${{ (checkForNullNum(event.payout)).toFixed(2) }}</td>
          <td colspan="4">Est. Check: ${{ (checkForNullNum(event.estimatedCheck)).toFixed(2) }}</td>
          <td colspan="4">Est. Profit: ${{ (checkForNullNum(event.estimatedProfit)).toFixed(2) }}</td>
        </tr>
        <tr>
          <td colspan="4">Discrepancy: ${{ (checkForNullNum(event.discrepancy)).toFixed(2) }}</td>
          <td colspan="4">Actual Check: ${{ (checkForNullNum(event.actualCheck)).toFixed(2) }}</td>
          <td colspan="4">Actual Profit: ${{ (checkForNullNum(event.actualProfit)).toFixed(2) }}</td>
        </tr>
        <tr>
          <td colspan="4">TAC Cut: ${{ (checkForNullNum(event.tacCut)).toFixed(2) }}</td>
          <td colspan="4">DR Cut: ${{ (checkForNullNum(event.drCut)).toFixed(2) }}</td>
          <td colspan="4">Coordinator Payout: {{ (checkForNullNum(event.coordinatorAdminAmt)).toFixed(2) }}</td>
        </tr>
        <tr>
          <td colspan="12">Notes: ${{ checkForNullString(event.eventNotes) }}</td>
        </tr>
        <tr>
          <td colspan="4">  
            <i class="far fa-square" *ngIf="!event.closed"></i>
            <i class="far fa-check-square" *ngIf="event.closed"></i>
            Closed
          </td>
          <td colspan="4">Shuttle Bonus Amount: {{ (checkForNullNum(event.shuttleBonusAmountWc)).toFixed(2) }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <tr>
      <td colspan="4">
        <button type="button" class="btn event-btn" (click)="onEditEvent()">Edit Event</button>
      </td>
      <td colspan="4">
        <button type="button" class="btn event-btn" (click)="confirmGateList=false; onDeleteEvent()">Delete Event</button>
      </td>
      <td colspan="4">
        <button type="button" class="btn event-btn" (click)="confirmGateList=true; confirmDelete=false">Send Gate List</button>
      </td>
    </tr>

    <div class="deleteConfirm" *ngIf="confirmDelete">
      Are your sure you want to delete this event?&nbsp;
      <button class="btn btn-outline-danger" (click)="onDeleteNo()">No</button>
      &nbsp;&nbsp;
      <button class="btn btn-outline-info" (click)="onDeleteYes()">Yes</button>
    </div>

    <div class="confirmGateList" *ngIf="confirmGateList">
      <form [formGroup]="gateListForm" (ngSubmit)="onGateListSubmit()">
        <div class="form-row">
          <div class="form-group col-md-12">
            What do you want to do with the Gate List?
            &nbsp;
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="emailGateList" formControlName="emailGateList">
              <label class="form-check-label" for="emailGateList">
                Email
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="downloadGateList" formControlName="downloadGateList">
              <label class="form-check-label" for="downloadGateList">
                Download
              </label>
            </div>
            <button class="btn btn-outline-info" type="submit">Send</button>
            &nbsp;
            <button class="btn btn-outline-danger" type="button" (click)="confirmGateList=false">Cancel</button>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="noStaffMsg">
      <form>
        <div class="form-row">
          <div class="col-md-1"></div>
          <div class="col-md-7 noStaffMsg">
            No staff are listed for this event.
          </div>
          <div class="col-md-2">
            <button class="btn btn-info" (click)="onOkNoStaff()">OK</button>
          </div>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div *ngIf="!getStaff">
          <button class="btn get-staff-btn" (click)="getTimesheetForEvent()">Get Staff</button>
        </div>
        <div *ngIf="getStaff">
          <div *ngIf="!eventStaffEdit && !eventStaffAdd && !reminderInfo">
            <hr>
            <table class="table table-striped table-sm">
              <thead class="thead-dark">
                <tr>
                  <th>Staff</th>
                  <th>Job</th>
                  <th>Rate</th>
                  <th>Scheduled Time</th>
                  <th>Time In</th>
                  <th>Time Out</th>
                  <th class="align-right">Hrs Worked</th>
                  <th class="align-right">Shuttle Bonus</th>
                  <th class="align-right">CC Tips</th>
                  <th class="align-right">Event Bonus</th>
                  <th class="align-right">Hourly Bonus</th>
                  <th class="align-right">Payout</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let t of timesheet">
                  <td>{{ checkForNullString(t.lastName) }}, {{ checkForNullString(t.firstName) }}</td>
                  <td>{{ checkForNullString(t.jobName) }}</td>
                  <td>{{ checkForNullNum(t.hourlyRate) }}</td>
                  <td>{{ checkForNullString(getTime(t.scheduledArrivalTime)) }}</td>
                  <td>{{ checkForNullString(getTime(t.timeIn)) }}</td>
                  <td>{{ checkForNullString(getTime(t.timeOut)) }}</td>
                  <td class="align-right">{{ checkForNullNum(t.hoursWorked) }}</td>
                  <td class="align-right">{{ checkForNullNum(t.eventBonus) }}</td>
                  <td class="align-right">{{ checkForNullNum(t.hourlyBonus) }}</td>
                  <td class="align-right">{{ checkForNullNum(t.shuttleBonus) }}</td>
                  <td class="align-right">{{ checkForNullNum(t.creditCardTips) }}</td>
                  <td class="align-right">{{ checkForNullNum(t.creditAmount) }}</td>
                  <td>
                    <button class="btn btn-info" (click)="onEditStaff(t)">Edit</button>
                  </td>
                </tr>
              </tbody>
            </table>

            <tr>
              <td colspan="3">
                <button type="button" class="btn btn-info" (click)="onAddStaff()">Add Staff Member</button>
              </td>
              <td colspan="3">
                <button class="btn btn-info" (click)="onAddEventBonus()">Add Event Bonus</button>
              </td>
              <td colspan="3">
                <button class="btn btn-info" (click)="onAddHourlyBonus()">Add Hourly Bonus</button>
              </td>
              <td colspan="3">
                <button type="button" class="btn btn-info" (click)="onSendReminder()">Send Reminder</button>
              </td>
            </tr>

            <div *ngIf="addEventBonus">
              <form [formGroup]="ebForm" (ngSubmit)="onEventBonusAdded()">
                <div class="form-row">
                  <div class="form-group col-md-5">
                    Add Event Bonus to all staff:
                  </div>
                  <div class="form-group col-md-2">
                    <input type="number" class="numInput form-control" id="ebAmount" formControlName="ebAmount">
                  </div>
                  <div class="form-group col-md-2">
                    <button class="btn btn-outline-info" type="submit">Add</button>
                  </div>
                  <div class="form-group col-md-2">
                    <button class="btn btn-outline-info" type="button" (click)="onCancelBonus()">Cancel</button>
                  </div>
                </div>
              </form>
             </div>

             <div *ngIf="addHourlyBonus">
              <form [formGroup]="hbForm" (ngSubmit)="onHourlyBonusAdded()">
                <div class="form-row">
                  <div class="form-group col-md-5">
                    Add Hourly Bonus to all staff:
                  </div>
                  <div class="form-group col-md-2">
                    <input type="number" class="numInput form-control" id="hbAmount" formControlName="hbAmount">
                  </div>
                  <div class="form-group col-md-2">
                    <button class="btn btn-outline-info" type="submit">Add</button>
                  </div>
                  <div class="form-group col-md-2">
                    <button class="btn btn-outline-info" type="button" (click)="onCancelBonus()">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div> <!-- *ngIf="!eventStaffEdit && !eventStaffAdd && !reminderInfo" -->


          <div *ngIf="!eventStaffEdit && !eventStaffAdd && reminderInfo">
            <table class="table table-striped table-sm">
              <thead class="thead-dark">
                <tr>
                  <th>
                      <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" (change)="checkUncheckAll()">
                  </th>
                  <th>Staff</th>
                  <th>Job</th>
                  <!-- <th>Last Reminder</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of checklist">
                  <td>
                      <input type="checkbox" [(ngModel)]="item.isSelected" name="list_name" value={{item.id}} (change)="isAllSelected()" >
                  </td>
                  <td>{{ checkForNullString(item.name) }}</td>
                  <td>{{ checkForNullString(item.jobName) }}</td>
                  <!-- <td>00-00-0000</td> -->
                </tr>
              </tbody>
            </table>

              <!-- TODO: Insert editable text for reminder email -->

            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-2">
                <button class="btn btn-info" type="button" (click)="onCancelReminder()">Cancel</button>
              </div>
              <div class="col-md-2">
                <button class="btn btn-info" type="button" (click)="onSubmitReminder()">Send</button>
              </div>
            </div>
        </div>

          <div *ngIf="eventStaffEdit == true">
            <app-event-staff-edit [timesheet]="editTimesheet" [event]="event"></app-event-staff-edit>
          </div>
          <div *ngIf="eventStaffAdd == true">
            <app-event-staff-add [event]="event"></app-event-staff-add>
          </div>
        </div> <!-- *ngIf==getStaff -->
       
      </div> <!-- col-md-12 -->
    </div> <!-- row -->
  </div>

  <app-event-edit *ngIf="eventEdit == true" [currentVenueID]="currentVenueID" [event]="event"></app-event-edit>

</div>

<!--------------------------------------------------------------------
  - CF event details 
---------------------------------------------------------------------->
<div *ngIf="idVenue == 3">
  <div *ngIf="eventEdit == false">
    <table class="table table-sm table-responsive">
      <tbody>
        <tr>
          <td colspan="4">Doors: {{ checkForNullString(getTime(event.Date)) }}</td>
          <td colspan="4">Location: {{ checkForNullString(event.location) }}</td>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td colspan="4">Total Sales: {{ (checkForNullNum(event.totalSalesCf)).toFixed(2) }}</td>
          <td colspan="4">Venue Bonus: {{ (checkForNullNum(event.venueBonus)).toFixed(2) }}</td>
        </tr>
        <tr>
          <td colspan="4">Payout: ${{ (checkForNullNum(event.payout)).toFixed(2) }}</td>
          <td colspan="4">Est. Check: ${{ (checkForNullNum(event.estimatedCheck)).toFixed(2) }}</td>
          <td colspan="4">Est. Profit: ${{ (checkForNullNum(event.estimatedProfit)).toFixed(2) }}</td>
        </tr>
        <tr>
          <td colspan="4">Discrepancy: ${{ (checkForNullNum(event.discrepancy)).toFixed(2) }}</td>
          <td colspan="4">Actual Check: ${{ (checkForNullNum(event.actualCheck)).toFixed(2) }}</td>
          <td colspan="4">Actual Profit: ${{ (checkForNullNum(event.actualProfit)).toFixed(2) }}</td>
        </tr>
        <tr>
          <td colspan="4">TAC Cut: ${{ (checkForNullNum(event.tacCut)).toFixed(2) }}</td>
          <td colspan="4">DR Cut: ${{ (checkForNullNum(event.drCut)).toFixed(2) }}</td>
          <td colspan="4">Coordinator Payout: {{ (checkForNullNum(event.coordinatorAdminAmt)).toFixed(2) }}</td>
        </tr>
        <tr>
          <td colspan="12">Notes: ${{ checkForNullString(event.eventNotes) }}</td>
        </tr>
        <tr>
          <td colspan="4">  
            <i class="far fa-square" *ngIf="!event.closed"></i>
            <i class="far fa-check-square" *ngIf="event.closed"></i>
            Closed
          </td>
          <td colspan="4">Shuttle Bonus Amount: {{ (checkForNullNum(event.shuttleBonusAmountCf)).toFixed(2) }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <tr>
      <td colspan="4">
        <button type="button" class="btn event-btn" (click)="onEditEvent()">Edit Event</button>
      </td>
      <td colspan="4">
        <button type="button" class="btn event-btn" (click)="confirmGateList=false; onDeleteEvent()">Delete Event</button>
      </td>
    </tr>

    <div class="deleteConfirm" *ngIf="confirmDelete">
      Are your sure you want to delete this event?&nbsp;
      <button class="btn btn-outline-danger" (click)="onDeleteNo()">No</button>
      &nbsp;&nbsp;
      <button class="btn btn-outline-info" (click)="onDeleteYes()">Yes</button>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="!getStaff">
          <button class="btn get-staff-btn" (click)="getTimesheetForEvent()">Get Staff</button>
        </div>
        <div *ngIf="getStaff">
          <div *ngIf="!eventStaffEdit && !eventStaffAdd && !reminderInfo">
            <table class="table table-striped table-sm">
              <thead class="thead-dark">
                <tr>
                  <th>Staff</th>
                  <th>Job</th>
                  <th>Rate</th>
                  <th>Scheduled Time</th>
                  <th>Time In</th>
                  <th>Time Out</th>
                  <th class="align-right">Hrs Worked</th>
                  <th class="align-right">Shuttle Bonus</th>
                  <th class="align-right">CC Tips</th>
                  <th class="align-right">Event Bonus</th>
                  <th class="align-right">Hourly Bonus</th>
                  <th class="align-right">Payout</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let t of timesheet">
                  <td>{{ checkForNullString(t.lastName) }}, {{ checkForNullString(t.firstName) }}</td>
                  <td>{{ checkForNullString(t.jobName) }}</td>
                  <td>{{ checkForNullNum(t.hourlyRate) }}</td>
                  <td>{{ checkForNullString(getTime(t.scheduledArrivalTime)) }}</td>
                  <td>{{ checkForNullString(getTime(t.timeIn)) }}</td>
                  <td>{{ checkForNullString(getTime(t.timeOut)) }}</td>
                  <td class="align-right">{{ checkForNullNum(t.hoursWorked) }}</td>
                  <td class="align-right">{{ checkForNullNum(t.eventBonus) }}</td>
                  <td class="align-right">{{ checkForNullNum(t.hourlyBonus) }}</td>
                  <td class="align-right">{{ checkForNullNum(t.shuttleBonus) }}</td>
                  <td class="align-right">{{ checkForNullNum(t.creditCardTips) }}</td>
                  <td class="align-right">{{ checkForNullNum(t.creditAmount) }}</td>
                  <td>
                    <button class="btn btn-info" (click)="onEditStaff(t)">Edit</button>
                  </td>
                </tr>
              </tbody>
            </table>

            <tr>
              <td colspan="3">
                <button type="button" class="btn btn-info" (click)="onAddStaff()">Add Staff Member</button>
              </td>
              <td colspan="3">
                <button class="btn btn-info" (click)="onAddEventBonus()">Add Event Bonus</button>
              </td>
              <td colspan="3">
                <button class="btn btn-info" (click)="onAddHourlyBonus()">Add Hourly Bonus</button>
              </td>
              <td colspan="3">
                <button type="button" class="btn btn-info" (click)="onSendReminder()">Send Reminder</button>
              </td>
            </tr>

            <div *ngIf="addEventBonus">
              <form [formGroup]="ebForm" (ngSubmit)="onEventBonusAdded()">
                <div class="form-row">
                  <div class="form-group col-md-5">
                    Add Event Bonus to all staff:
                  </div>
                  <div class="form-group col-md-2">
                    <input type="number" class="numInput form-control" id="ebAmount" formControlName="ebAmount">
                  </div>
                  <div class="form-group col-md-2">
                    <button class="btn btn-outline-info" type="submit">Add</button>
                  </div>
                  <div class="form-group col-md-2">
                    <button class="btn btn-outline-info" type="button" (click)="onCancelBonus()">Cancel</button>
                  </div>
                </div>
              </form>
             </div>

            <div *ngIf="addHourlyBonus">
              <form [formGroup]="hbForm" (ngSubmit)="onHourlyBonusAdded()">
                <div class="form-row">
                  <div class="form-group col-md-5">
                    Add Hourly Bonus to all staff:
                  </div>
                  <div class="form-group col-md-2">
                    <input type="number" class="numInput form-control" id="hbAmount" formControlName="hbAmount">
                  </div>
                  <div class="form-group col-md-2">
                    <button class="btn btn-outline-info" type="submit">Add</button>
                  </div>
                  <div class="form-group col-md-2">
                    <button class="btn btn-outline-info" type="button" (click)="onCancelBonus()">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div> <!-- *ngIf="!eventStaffEdit && !eventStaffAdd && !reminderInfo" -->
   
          <div *ngIf="!eventStaffEdit && !eventStaffAdd && reminderInfo">
            <table class="table table-striped table-sm">
              <thead class="thead-dark">
                <tr>
                  <th>
                      <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" (change)="checkUncheckAll()">
                  </th>
                  <th>Staff</th>
                  <th>Job</th>
                  <!-- <th>Last Reminder</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of checklist">
                  <td>
                      <input type="checkbox" [(ngModel)]="item.isSelected" name="list_name" value={{item.id}} (change)="isAllSelected()" >
                  </td>
                  <td>{{ checkForNullString(item.name) }}</td>
                  <td>{{ checkForNullString(item.jobName) }}</td>
                  <!-- <td>00-00-0000</td> -->
                </tr>
              </tbody>
            </table>

              <!-- TODO: Insert editable text for reminder email -->

            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-2">
                <button class="btn btn-info" type="button" (click)="onCancelReminder()">Cancel</button>
              </div>
              <div class="col-md-2">
                <button class="btn btn-info" type="button" (click)="onSubmitReminder()">Send</button>
              </div>
            </div>
          </div>

          <div *ngIf="eventStaffEdit == true">
            <app-event-staff-edit [timesheet]="editTimesheet" [event]="event"></app-event-staff-edit>
          </div>
          <div *ngIf="eventStaffAdd == true">
            <app-event-staff-add [event]="event"></app-event-staff-add>
          </div>
        </div> <!-- *ngIf==getStaff -->
       
      </div> <!-- col-md-12 -->
    </div> <!-- row -->
  </div>

  <app-event-edit *ngIf="eventEdit == true" [currentVenueID]="currentVenueID" [event]="event"></app-event-edit>

  
</div>




