<!--  Seasons dropdown -->

<div class="row">
  <div class="col-md-4">

    <form #seasonForm="ngForm" >
      <div class="form-group" (change)="changeSeason(seasonForm.value)">
        <label for="seasonSelect">Seasons</label>
        <select ngModel name="seasonSelect" id="seasonSelect" class="form-control">
          <option *ngFor="let seasonElement of seasons" [value]="seasonElement.idSeason">
            {{ seasonElement.seasonName }}
          </option>
        </select>
      </div>

      <div *ngIf="currentVenueID == 99">
        <div class="form-group" (change)="changeVenue(seasonForm.value)">
          <label for="venueSelect">Venues</label>
          <select ngModel name="venueSelect" id="venueSelect" class="form-control">
            <option [value]="99">All venues</option>
            <option *ngFor="let v of allVenues" [value]="v.idvenue">
              {{ v.name }}
            </option>
          </select>
        </div>
      </div>
    </form>


  </div>
  <div class="col-md-3"></div>
  <div class="col-md-4">
    <button class="btn new-event-btn" (click)="addNewEvent()">Add New Event</button>
  </div>
</div>

<app-event-new *ngIf="eventNew == true" 
                [currentVenueID]="currentVenueID" [currentSeasonID]="currentSeasonID">
</app-event-new>
<hr>


<!-- Collapsible Table -->
<app-event-table *ngIf="currentVenueID == 1" [currentVenueID]="currentVenueID" [dataSource]="eventsPNC"></app-event-table>
<app-event-table *ngIf="currentVenueID == 2" [currentVenueID]="currentVenueID" [dataSource]="eventsWC"></app-event-table>
<app-event-table *ngIf="currentVenueID == 3" [currentVenueID]="currentVenueID" [dataSource]="eventsCF"></app-event-table>
<app-event-table *ngIf="currentVenueID == 99" [currentVenueID]="currentVenueID" [dataSource]="eventsAll"></app-event-table>





