<!--  Seasons dropdown -->

<div class="row">
  <div class="col-md-6">

    <form #seasonForm="ngForm" (change)="changeSeason(seasonForm.value)">
      <div class="form-group">
        <label for="seasonSelect">Seasons</label>
        <select ngModel name="seasonSelect" id="seasonSelect" class="form-control">
          <option *ngFor="let seasonElement of seasons" [value]="seasonElement.idSeason">
            {{ seasonElement.seasonName }}
          </option>
        </select>
      </div>
    </form>


  </div>
  <div class="col-md-6">
    <button class="btn btn-success" (click)="onNewEvent()">New Event</button>
  </div>
</div>

<hr>


<!-- Collapsible Table -->
<app-event-table [dataSource]="events"></app-event-table>



