<!--  Seasons dropdown -->

<div class="row">
  <div class="col-md-4">

    <form #seasonForm="ngForm" >
      <div class="form-group" (change)="changeSeason(seasonForm.value)">
        <label for="seasonSelect">Seasons</label>
        <select ngModel name="seasonSelect" id="seasonSelect" class="form-control">
          <option *ngFor="let seasonElement of seasons" [value]="seasonElement.idSeason">
            {{ seasonElement.seasonName }}
          </option>
        </select>
      </div>

      <div *ngIf="currentVenueID == 99">
        <div class="form-group" (change)="changeVenue(seasonForm.value)">
          <label for="venueSelect">Venues</label>
          <select ngModel name="venueSelect" id="venueSelect" class="form-control">
            <option [value]="99">All venues</option>
            <option *ngFor="let v of allVenues" [value]="v.idvenue">
              {{ v.name }}
            </option>
          </select>
        </div>
      </div>
    </form>


  </div>
  <div class="col-md-3"></div>
  <div class="col-md-4">
    <button class="btn new-event-btn" (click)="addNewEvent()">Add New Event</button>
  </div>
</div>

<app-event-new *ngIf="eventNew == true" 
                [currentVenueID]="currentVenueID" [currentSeasonID]="currentSeasonID">
</app-event-new>
<hr>


<!-- Collapsible Table -->
<div *ngIf="currentVenueID == 1">
  <table *ngIf="gotData == true" datatable [dtOptions]="dtOptions"  class="row-border hover table table-striped collapsed main-table">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Date</th>
        <th>Doors Open</th>
        <th>Location</th>
        <th>Commission</th>
        <th>CC Tips</th>
        <th>Payout</th>
      </tr>
    </thead>
    <tbody>
      <tr #trRef *ngFor="let event of eventsPNC" class="tableRow">
        <td (click)="expandRow(trRef, event)"></td>
        <td>{{ event.Title }}</td>
        <td>{{ getDate(checkForNullString(event.Date)) }}</td>
        <td>{{ getTime(checkForNullString(event.Date)) }}</td>
        <td>{{ event.location }}</td>
        <td>{{ event.totalSalesPnc }}</td>
        <td>{{ (checkForNullNum(event.ccTips)).toFixed(2) }}</td>
        <td>{{ event.payout }}</td>
      </tr>
    </tbody> 
  </table>
</div>

<div *ngIf="currentVenueID == 2">
  <table *ngIf="gotData == true" datatable [dtOptions]="dtOptions"  class="row-border hover table table-striped collapsed main-table">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Date</th>
        <th>Doors Open</th>
        <th>Location</th>
        <th>Commission</th>
        <th>CC Tips</th>
        <th>Payout</th>
      </tr>
    </thead>
    <tbody>
      <tr #trRef *ngFor="let event of eventsWC" class="tableRow">
        <td (click)="expandRow(trRef, event)"></td>
        <td>{{ event.Title }}</td>
        <td>{{ getDate(checkForNullString(event.Date)) }}</td>
        <td>{{ getTime(checkForNullString(event.Date)) }}</td>
        <td>{{ event.location }}</td>
        <td>{{ (checkForNullNum(event.totalSalesWc)).toFixed(2) }}</td>
        <td>{{ (checkForNullNum(event.creditCardTips)).toFixed(2) }}</td>
        <td>{{ (checkForNullNum(event.payout)).toFixed(2) }}</td>
      </tr>
    </tbody> 
  </table>
</div>

<div *ngIf="currentVenueID == 3">
  <table *ngIf="gotData == true" datatable [dtOptions]="dtOptions"  class="row-border hover table table-striped collapsed main-table">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Date</th>
        <th>Doors Open</th>
        <th>Location</th>
        <th>Commission</th>
        <th>CC Tips</th>
        <th>Payout</th>
      </tr>
    </thead>
    <tbody>
      <tr #trRef *ngFor="let event of eventsCF" class="tableRow">
        <td (click)="expandRow(trRef, event)"></td>
        <td>{{ event.Title }}</td>
        <td>{{ getDate(checkForNullString(event.Date)) }}</td>
        <td>{{ getTime(checkForNullString(event.Date)) }}</td>
        <td>{{ event.location }}</td>
        <td>{{ event.totalSalesCf }}</td>
        <td>{{ (checkForNullNum(event.creditCardTipsCf)).toFixed(2) }}</td>
        <td>{{ event.payout }}</td>
      </tr>
    </tbody> 
  </table>
</div>

<div *ngIf="currentVenueID == 99">
  <table *ngIf="gotData == true" datatable [dtOptions]="dtOptions"  class="row-border hover table table-striped collapsed main-table">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Date</th>
        <th>Doors Open</th>
        <th>Location</th>
        <th>Payout</th>
      </tr>
    </thead>
    <tbody>
      <tr #trRef *ngFor="let event of eventsAll" class="tableRow">
        <td (click)="expandRow(trRef, event)"></td>
        <td>{{ event.Title }}</td>
        <td>{{ getDate(checkForNullString(event.Date)) }}</td>
        <td>{{ getTime(checkForNullString(event.Date)) }}</td>
        <td>{{ event.location }}</td>
        <td>{{ event.payout }}</td>
      </tr>
    </tbody> 
  </table>
</div>






