         
  <td>{{ person.lastName }}, {{ person.firstName }}</td>

  <td>
    <input type="text" class="form-control" id="position" formControlName="position" value="{{ person.jobName }}">
  </td>

  <td>
    <input type="number" class="form-control" id="rate" formControlName="rate" value="{{ person.hourlyRate }}">
  </td>
  
  
  <!-- <td>{{ checkForNullString(getTime(t.scheduledArrivalTime)) }}</td>
  <td>{{ checkForNullString(getTime(t.timeIn)) }}</td>
  <td>{{ checkForNullString(getTime(t.timeOut)) }}</td>
  <td class="align-right">{{ checkForNullNum(t.hoursWorked) }}</td>
  <td class="align-right">{{ checkForNullNum(t.eventBonus) }}</td>
  <td class="align-right">{{ checkForNullNum(t.hourlyBonus) }}</td>
  <td class="align-right">{{ checkForNullNum(t.creditAmount) }}</td> -->

  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
