

<div class="text-center">
  <form class="form-signin" (submit)="onLogin(loginForm)" #loginForm="ngForm">
    <img class="mb-4" src="{{imgPath}}" alt="" width="250">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <div class="alert alert-danger" *ngIf="error">
      {{ error }}
    </div>

    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" 
          id="inputEmail" 
          name="inputEmail" 
          #inputEmail="ngModel"
          ngModel 
          class="form-control" 
          placeholder="Email address" 
          required 
          email
          autofocus>
      <div class="alert alert-danger" *ngIf="inputEmail.touched && !inputEmail.valid">Email is required</div>
      
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" 
          id="inputPassword" 
          name="inputPassword"
          #inputPassword="ngModel"
          ngModel
          class="form-control" 
          placeholder="Password" 
          required>
      <div class="alert alert-danger" *ngIf="inputPassword.touched && !inputPassword.valid">Password is required</div>

          <!-- TODO: Implement Remember Me feature -->
    <!-- <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div> -->

    <button class="btn btn-lg btn-primary btn-block" 
            type="submit"
            [disabled]="!loginForm.valid">
        Sign in
    </button>
  </form>
</div>
