

<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <a href="#" class="navbar-brand">
    <img src="../assets/images/TitansTeam.jpg" alt="Titans logo"></a>
  <span class="navbar-brand myTitle" href="#">Dues Reduction</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/pnc">PNC</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/wc">WC</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/cf">CF</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin">Admin</a>
      </li>
    </ul>
  </div>

  <div class="navbar-nav">
    <div class="navbar-item logout">
      <div class="nav-link" (click)="onLogout()">Logout</div>
    </div>
  </div>

  <!-- <div class="navbar-nav">
    <div class="navbar-item dropdown">
      <a class="nav-link dropdown-toggle" 
          id="navbarDrowpdownUser" 
          role="button" 
          data-toggle="dropdown" 
          aria-haspopup="true" 
          aria-expanded="false">
        Welcome {{ currentUser.firstName }}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
        <a class="dropdown-item" routerLink="/settings">Settings</a>
        <a class="dropdown-item" (click)="onLogout()">Logout</a>
      </div>
    </div>
  </div> -->

</nav>
