<div class="container">

  <div class="row">
    <div class="card border-danger rounded" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title">Events</h3>
        <a class="btn btn-danger btn-lg" routerLink="/events">
          <i class="fas fa-calendar-alt"></i>
        </a>
      </div>
    </div>

    <div class="card border-danger rounded" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title">Staff</h3>
        <a class="btn btn-danger btn-lg" routerLink="/staff">
          <i class="fas fa-users"></i>
        </a>
      </div>
    </div>

    <div class="card border-danger rounded" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title">Venue Contacts</h3>
        <a class="btn btn-danger btn-lg" routerLink="/venuecontacts">
          <i class="fas fa-address-book"></i>
        </a>
      </div>
    </div>

  </div> <!-- end row -->

  <div class="row">
    <div class="card border-danger rounded" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title">Pre-filled Forms</h3>
        <a class="btn btn-danger btn-lg" routerLink="/forms">
          <i class="fas fa-pencil-alt"></i>
        </a>
      </div>
    </div>

    <div class="card border-danger rounded" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title">Documents</h3>
        <a class="btn btn-danger btn-lg" routerLink="/documents">
          <i class="fas fa-file-alt"></i>
        </a>
      </div>
    </div>

    <div class="card border-danger rounded" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title">Create Reports</h3>
        <a class="btn btn-danger btn-lg" routerLink="/reports">
          <i class="fas fa-clipboard"></i>
        </a>
      </div>
    </div>

  </div> <!-- end row -->

</div> <!-- /container -->
