<!-- <a 
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ event.name }}</h4>
    <p class="list-group-item-text">Season: {{ event.season }}</p>
    <p class="list-group-item-text">Date: {{ event.date }}</p>
  </div>
</a> -->
<!-- <a
    [routerLink]="[index]"
    routerLinkActive="active"
    class="list-group-item clearfix">
    <td>{{ event.name }}</td>
    <td>{{ event.date }}</td>
</a> -->

