<!-- Activity Level dropdown -->

<div class="row">
  <div class="col-md-4">

    <form #activeForm="ngForm">
      <div class="form-group" (change)="changeActive(activeForm.value)">
        <label for="activeSelect">Active Level</label>
        <select ngModel name="activeSelect" id="activeSelect" class="form-control">
          <option [value]="1" selected>Active</option>
          <option [value]="2">Inactive</option>
          <option [value]="3">Interested</option>
          <option [value]="4">All</option>
        </select>
      </div>

      <!-- TODO: Add option to filter by job title -->

      <div class="form-group" *ngIf="currentVenueID == 99" (change)="changeVenue(activeForm.value)">
        <label for="venueSelect">Venue</label>
        <select ngModel name="venueSelect" id="venueSelect" class="form-control">
          <option [value]="99" selected>All venues</option>
          <option *ngFor="let v of allVenues" [value]="v.idvenue">
            {{ v.name }}
          </option>
        </select>
      </div>
    </form>
  </div>

  <div class="col-md-3"></div>
  
  <div class="col-md-4">
    <div *ngIf="currentVenueID == 99">
      <button class="btn new-event-btn" (click)="onCreateMonthlyReport()">Create Monthly Report</button>
      <br><br>
    </div>
    <div>
      <button class="btn new-event-btn" (click)="onAddStaff()">Add New Staff Member</button>
    </div>
  </div>
</div>

<app-staff-new *ngIf="staffNew == true"
                [currentVenueID]="currentVenueID">
</app-staff-new>
<hr>

<div *ngIf="monthlyReportMsg">
  <form [formGroup]="monthlyReportForm">
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="month">Month</label>
        <select id="month" class="form-control" formControlName="month">
          <option [value]="1">January</option>
          <option [value]="2">February</option>
          <option [value]="3">March</option>
          <option [value]="4">April</option>
          <option [value]="5">May</option>
          <option [value]="6">June</option>
          <option [value]="7">July</option>
          <option [value]="8">August</option>
          <option [value]="9">September</option>
          <option [value]="10">October</option>
          <option [value]="11">November</option>
          <option [value]="12">December</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="year">Year</label>
        <select id="year" class="form-control" formControlName="year">
          <option [value]="2020">2020</option>
          <option [value]="2019">2019</option>
          <option [value]="2018">2018</option>
          <option [value]="2017">2017</option>
        </select>
      </div>
    </div>

    <div *ngIf="howToSendMsg" class="form-row howToSendMsg">
      What do you want to do with the Monthly Report?
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input" id="emailReport1" formControlName="emailReport1">
          <label for="emailReport1" class="form-check-label">Send email to TAC</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input" id="emailReport2" formControlName="emailReport2">
          <label for="emailReport2" class="form-check-label">Send email to coordinator</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input" id="downloadReport" formControlName="downloadReport">
          <label for="downloadReport" class="form-check-label">Download Report</label>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-4">
        <button class="btn btn-info" type="button" (click)="onCancelMonthlyReport()">Cancel</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-info" type="button" (click)="onSendMonthlyReport()">Create Report</button>
      </div>
    </div>
  </form>
  <hr>
</div>

<!-- Collapsible Table -->
<app-staff-table [currentVenueID]="currentVenueID" 
                  [dataSource]="setStaff" 
                  [showVenue]="showVenue">
</app-staff-table>



