<div class="container">
  <div class="row">

    <div class="btn-group linkGroup" role="group" aria-label="Venue Links">
      <button class="btn btn-dark btn-rounded" routerLink="./events" routerLinkActive="active">
        <i class="fas fa-calendar-alt fa-sm pr-2" aria-hidden="true"></i>
        Events
      </button>
      <button class="btn btn-dark btn-rounded" routerLink="./staff" routerLinkActive="active">
        <i class="fas fa-users fa-sm pr-2" aria-hidden="true"></i>
        Staff
      </button>
      <button class="btn btn-dark btn-rounded" >
        <i class="fas fa-address-book fa-sm pr-2" aria-hidden="true"></i>
        Venue Contacts
      </button>
      <!-- <button class="btn btn-dark btn-rounded" >
        <i class="fas fa-pencil-alt fa-sm pr-2" aria-hidden="true"></i>
        Pre-Filled Forms
      </button> -->
      <button class="btn btn-dark btn-rounded" >
        <i class="fas fa-file-alt fa-sm pr-2" aria-hidden="true"></i>
        Documents
      </button>
      <!-- <button class="btn btn-dark btn-rounded" >
        <i class="fas fa-clipboard fa-sm pr-2" aria-hidden="true"></i>
        Create Reports
      </button> -->
    </div>

  </div> <!-- row -->
</div> <!-- /container -->
