<!-- ------------------------------------------------------------------------------------------
-- PNC Staff Details 
--------------------------------------------------------------------------------------------->
<div *ngIf="showVenue == 1">
    <table class="table table-sm table-responsive table-detail">
      <tbody>
        <tr>
          <td colspan="3">  
            <i class="far fa-square" *ngIf="!staffMember.pncExperienced"></i>
            <i class="far fa-check-square" *ngIf="staffMember.pncExperienced"></i>
            Experienced
          </td>
          <td colspan="3">
            <i class="far fa-square" *ngIf="!staffMember.pncHealthForm"></i>
            <i class="far fa-check-square" *ngIf="staffMember.pncHealthForm"></i>
            Health Form
          </td>
          <td colspan="3">
            <i class="far fa-square" *ngIf="!staffMember.pncWaiver"></i>
            <i class="far fa-check-square" *ngIf="staffMember.pncWaiver"></i>
            Waiver
          </td>
          <td colspan="3">BARS Date: {{ checkForNullString(getDate(staffMember.pncBars)) }}</td>
        </tr>
        <hr>
        <h6>Job Training Complete:</h6>
        <tr>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.pncStandLeader"></i>
            <i class="far fa-check-square" *ngIf="staffMember.pncStandLeader"></i>
            Stand Leader
          </td>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.pncGroupLeader"></i>
            <i class="far fa-check-square" *ngIf="staffMember.pncGroupLeader"></i>
            Group Leader
          </td>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.pncRegister"></i>
            <i class="far fa-check-square" *ngIf="staffMember.pncRegister"></i>
            Register
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.pncHeadCook"></i>
            <i class="far fa-check-square" *ngIf="staffMember.pncHeadCook"></i>
            Head Cook
          </td>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.pncAssistantCook"></i>
            <i class="far fa-check-square" *ngIf="staffMember.pncAssistantCook"></i>
            Assistant Cook
          </td>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.pncBeerCart"></i>
            <i class="far fa-check-square" *ngIf="staffMember.pncBeerCart"></i>
            Beer Cart
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <button class="btn event-btn" type="button" (click)="open()">Edit Member</button>
          </td>
          <td colspan="3">
            <button type="button" class="btn event-btn" (click)="onCreditSummary()">Credit Summary</button>
          </td>
        </tr>
      </tbody>
    </table>

  <div *ngIf="creditSummaryMsg">
    <form [formGroup]="summaryForm" (ngSubmit)="onCreateCreditSummary()">
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="startDate">Choose Start Date:</label>
          <ejs-datepicker class="date-picker" id='startDate' placeholder='Select a date' [value]='dateValue' formControlName="startDate"></ejs-datepicker>
        </div>
        <div class="form-group col-md-3">
          <label for="endDate">Choose End Date:</label>
          <ejs-datepicker class="date-picker" id='endDate' placeholder='Select a date' [value]='dateValue' formControlName="endDate"></ejs-datepicker>
        </div>
      </div>
      <div class="form-row creditMsg" *ngIf="showCreateReportMsg">
        What do you want to do with the Credit Summary?
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="emailSummary1" formControlName="emailSummary1">
            <label for="emailSummary1" class="form-check-label">Send email to member</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="emailSummary2" formControlName="emailSummary2">
            <label for="emailSummary2" class="form-check-label">Send email to coordinator</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="downloadSummary" formControlName="downloadSummary">
            <label for="downloadSummary" class="form-check-label">Download Summary</label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4">
          <button class="btn btn-info" type="button" (click)="onCancelCreditSummary()">Cancel</button>
        </div>
        <div class="col-md-4">
          <button class="btn btn-info" type="submit">Create Report</button>
        </div>
      </div>
    </form>
  </div>

</div>

<!--------------------------------------------------------------------------------------------
-- WC Staff Details 
--------------------------------------------------------------------------------------------->
<div *ngIf="showVenue == 2">
    <table class="table table-sm table-responsive">
      <tbody>
        <tr>
          <td colspan="6">Team Training Date: {{ checkForNullString(getDate(staffMember.wcTeamTraining)) }}</td>
        </tr>
        <hr>
        <h6>Job Training Complete:</h6>
        <tr>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.wcStandLeader"></i>
            <i class="far fa-check-square" *ngIf="staffMember.wcStandLeader"></i>
            Stand Leader
          </td>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.wcContainerBarLead"></i>
            <i class="far fa-check-square" *ngIf="staffMember.wcContainerBarLead"></i>
            Container Bar Lead
          </td>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.wcSales"></i>
            <i class="far fa-check-square" *ngIf="staffMember.wcSales"></i>
            Sales
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.wcMoveStockOut"></i>
            <i class="far fa-check-square" *ngIf="staffMember.wcMoveStockOut"></i>
            Move Stock Out
          </td>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.wcFinalStandPrep"></i>
            <i class="far fa-check-square" *ngIf="staffMember.wcFinalStandPrep"></i>
            Final Stand Prep
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <button class="btn event-btn" type="button" (click)="open()">Edit Member</button>
          </td>
          <td colspan="3">
            <button type="button" class="btn event-btn" (click)="onCreditSummary()">Credit Summary</button>
          </td>
        </tr>
      </tbody>
    </table>

  <div *ngIf="creditSummaryMsg">
    <form [formGroup]="summaryForm2" (ngSubmit)="onCreateCreditSummary()">
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="startDate">Choose Start Date:</label>
          <ejs-datepicker class="date-picker" id='startDate' placeholder='Select a date' [value]='dateValue' formControlName="startDate"></ejs-datepicker>
        </div>
        <div class="form-group col-md-3">
          <label for="endDate">Choose End Date:</label>
          <ejs-datepicker class="date-picker" id='endDate' placeholder='Select a date' [value]='dateValue' formControlName="endDate"></ejs-datepicker>
        </div>
      </div>
      <div class="form-row creditMsg" *ngIf="showCreateReportMsg">
        What do you want to do with the Credit Summary?
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="emailSummary1" formControlName="emailSummary1">
            <label for="emailSummary1" class="form-check-label">Send email to member</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="emailSummary2" formControlName="emailSummary2">
            <label for="emailSummary2" class="form-check-label">Send email to coordinator</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="downloadSummary" formControlName="downloadSummary">
            <label for="downloadSummary" class="form-check-label">Download Summary</label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4">
          <button class="btn btn-info" type="button" (click)="onCancelCreditSummary()">Cancel</button>
        </div>
        <div class="col-md-4">
          <button class="btn btn-info" type="submit">Create Report</button>
        </div>
      </div>
    </form>
  </div>
  
</div>


<!--------------------------------------------------------------------------------------------
-- CF Staff Details 
--------------------------------------------------------------------------------------------->
<div *ngIf="showVenue == 3">
    <table class="table table-sm table-responsive">
      <tbody>
        <tr>
          <td colspan="6">Alcohol Training Date: {{ checkForNullString(getDate(staffMember.cfAlcoholTraining)) }}</td>
        </tr>
        <hr>
        <h6>Job Training Complete:</h6>
        <tr>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.cfLeader"></i>
            <i class="far fa-check-square" *ngIf="staffMember.cfLeader"></i>
            Leader
          </td>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.cfAssistantLeader"></i>
            <i class="far fa-check-square" *ngIf="staffMember.cfAssistantLeader"></i>
            Assistant Leader
          </td>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.cfStaff"></i>
            <i class="far fa-check-square" *ngIf="staffMember.cfStaff"></i>
            Staff
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <button class="btn event-btn" type="button" (click)="open()">Edit Member</button>
          </td>
          <td colspan="3">
            <button type="button" class="btn event-btn" (click)="onCreditSummary()">Credit Summary</button>
          </td>
        </tr>
      </tbody>
    </table>

  <div *ngIf="creditSummaryMsg">
    <form [formGroup]="summaryForm3" (ngSubmit)="onCreateCreditSummary()">
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="startDate">Choose Start Date:</label>
          <ejs-datepicker class="date-picker" id='startDate' placeholder='Select a date' [value]='dateValue' formControlName="startDate"></ejs-datepicker>
        </div>
        <div class="form-group col-md-3">
          <label for="endDate">Choose End Date:</label>
          <ejs-datepicker class="date-picker" id='endDate' placeholder='Select a date' [value]='dateValue' formControlName="endDate"></ejs-datepicker>
        </div>
      </div>
      <div class="form-row creditMsg" *ngIf="showCreateReportMsg">
        What do you want to do with the Credit Summary?
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="emailSummary1" formControlName="emailSummary1">
            <label for="emailSummary1" class="form-check-label">Send email to member</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="emailSummary2" formControlName="emailSummary2">
            <label for="emailSummary2" class="form-check-label">Send email to coordinator</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="downloadSummary" formControlName="downloadSummary">
            <label for="downloadSummary" class="form-check-label">Download Summary</label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4">
          <button class="btn btn-info" type="button" (click)="onCancelCreditSummary()">Cancel</button>
        </div>
        <div class="col-md-4">
          <button class="btn btn-info" type="submit">Create Report</button>
        </div>
      </div>
    </form>
  </div>

</div>

<!--------------------------------------------------------------------------------------------
-- All Venue Staff Details 
--------------------------------------------------------------------------------------------->
<div *ngIf="showVenue == 99">
    <table class="table table-sm table-responsive">
      <tbody>
        <tr>
          <td colspan="9"><h5>PNC ARENA</h5></td>
        </tr>
        <tr>
          <td colspan="3">  
            <i class="far fa-square" *ngIf="!staffMember.pncExperienced"></i>
            <i class="far fa-check-square" *ngIf="staffMember.pncExperienced"></i>
            Experienced
          </td>
          <td colspan="3">
            <i class="far fa-square" *ngIf="!staffMember.pncHealthForm"></i>
            <i class="far fa-check-square" *ngIf="staffMember.pncHealthForm"></i>
            Health Form
          </td>
          <td colspan="3">
            <i class="far fa-square" *ngIf="!staffMember.pncWaiver"></i>
            <i class="far fa-check-square" *ngIf="staffMember.pncWaiver"></i>
            Waiver
          </td>
          <td colspan="3">BARS Date: {{ checkForNullString(getDate(staffMember.pncBars)) }}</td>
        </tr>
        <hr>
        <h6>Job Training Complete:</h6>
        <tr>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.pncStandLeader"></i>
            <i class="far fa-check-square" *ngIf="staffMember.pncStandLeader"></i>
            Stand Leader
          </td>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.pncGroupLeader"></i>
            <i class="far fa-check-square" *ngIf="staffMember.pncGroupLeader"></i>
            Group Leader
          </td>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.pncRegister"></i>
            <i class="far fa-check-square" *ngIf="staffMember.pncRegister"></i>
            Register
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.pncHeadCook"></i>
            <i class="far fa-check-square" *ngIf="staffMember.pncHeadCook"></i>
            Head Cook
          </td>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.pncAssistantCook"></i>
            <i class="far fa-check-square" *ngIf="staffMember.pncAssistantCook"></i>
            Assistant Cook
          </td>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.pncBeerCart"></i>
            <i class="far fa-check-square" *ngIf="staffMember.pncBeerCart"></i>
            Beer Cart
          </td>
        </tr>
        
        <hr><hr>
        
        <tr>
          <td colspan="9"><h5>WALNUT CREEK</h5></td>
        </tr>
        <tr>
          <td colspan="6">Team Training Date: {{ checkForNullString(getDate(staffMember.wcTeamTraining)) }}</td>
        </tr>
        <hr>
        <h6>Job Training Complete:</h6>
        <tr>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.wcStandLeader"></i>
            <i class="far fa-check-square" *ngIf="staffMember.wcStandLeader"></i>
            Stand Leader
          </td>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.wcContainerBarLead"></i>
            <i class="far fa-check-square" *ngIf="staffMember.wcContainerBarLead"></i>
            Container Bar Lead
          </td>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.wcSales"></i>
            <i class="far fa-check-square" *ngIf="staffMember.wcSales"></i>
            Sales
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.wcMoveStockOut"></i>
            <i class="far fa-check-square" *ngIf="staffMember.wcMoveStockOut"></i>
            Move Stock Out
          </td>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.wcFinalStandPrep"></i>
            <i class="far fa-check-square" *ngIf="staffMember.wcFinalStandPrep"></i>
            Final Stand Prep
          </td>
        </tr>

        <hr><hr>

        <tr>
          <td colspan="9"><h5>CARTER-FINLEY STADIUM</h5></td>
        </tr>
        <tr>
          <td colspan="6">Alcohol Training Date: {{ checkForNullString(getDate(staffMember.cfAlcoholTraining)) }}</td>
        </tr>
        <hr>
        <h6>Job Training Complete:</h6>
        <tr>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.cfLeader"></i>
            <i class="far fa-check-square" *ngIf="staffMember.cfLeader"></i>
            Leader
          </td>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.cfAssistantLeader"></i>
            <i class="far fa-check-square" *ngIf="staffMember.cfAssistantLeader"></i>
            Assistant Leader
          </td>
          <td colspan="3">
            <!-- <i class="far fa-square"></i> -->
            <i class="far fa-square" *ngIf="!staffMember.cfStaff"></i>
            <i class="far fa-check-square" *ngIf="staffMember.cfStaff"></i>
            Staff
          </td>
        </tr>

        <tr>
          <td colspan="3">
            <button class="btn event-btn" type="button" (click)="open()">Edit Member</button>
          </td>
          <td colspan="3">
            <button type="button" class="btn event-btn" (click)="onCreditSummary()">Credit Summary</button>
          </td>
        </tr>
      </tbody>
    </table>

  <div *ngIf="creditSummaryMsg">
    <form [formGroup]="summaryForm4" (ngSubmit)="onCreateCreditSummary()">
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="startDate">Choose Start Date:</label>
          <ejs-datepicker class="date-picker" id='startDate' placeholder='Select a date' [value]='dateValue' formControlName="startDate"></ejs-datepicker>
        </div>
        <div class="form-group col-md-3">
          <label for="endDate">Choose End Date:</label>
          <ejs-datepicker class="date-picker" id='endDate' placeholder='Select a date' [value]='dateValue' formControlName="endDate"></ejs-datepicker>
        </div>
      </div>
      <div class="form-row creditMsg" *ngIf="showCreateReportMsg">
        What do you want to do with the Credit Summary?
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="emailSummary1" formControlName="emailSummary1">
            <label for="emailSummary1" class="form-check-label">Send email to member</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="emailSummary2" formControlName="emailSummary2">
            <label for="emailSummary2" class="form-check-label">Send email to coordinator</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="downloadSummary" formControlName="downloadSummary">
            <label for="downloadSummary" class="form-check-label">Download Summary</label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4">
          <button class="btn btn-info" type="button" (click)="onCancelCreditSummary()">Cancel</button>
        </div>
        <div class="col-md-4">
          <button class="btn btn-info" type="submit">Create Report</button>
        </div>
      </div>
    </form>
  </div>

</div>

