<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3 text-center">PNC Arena</h1>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-block btn-lg btn-danger">Events</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-block btn-lg btn-danger">Staff</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-block btn-lg btn-danger">Venue Contacts</button>
      </div>
    </div>

    <hr>


    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-block btn-lg btn-danger">Forms</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-block btn-lg btn-danger">Documents</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-block btn-lg btn-danger">Reports</button>
      </div>
    </div>

  </div> <!-- /container -->

</main>
