<div class="container">

  <app-staff-list></app-staff-list>

  <ng-template #infoText>
    <p>Please select a staff member</p>
  </ng-template>

    <!-- TODO: Add Home button -->
  <!-- TODO: Add dropdown to select more item in table -->
  <!-- TODO: Add more info when you click on name -->
<!-- TODO: Make table sortable -->

<!-- 
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Contact</th>
        <th scope="col">Email</th>
      </tr>
    </thead>

    <tbody>
        <tr *ngFor="let person of people">
          <td>{{ person.name }}</td>
          <td>{{ person.contact }}</td>
          <td>{{ person.email }}</td>
        </tr>
    </tbody>
  </table> -->

  <!-- TODO: Add send email button to contacts -->
  <!-- TODO: Add pagination to table -->
</div>
