<div>
  <app-header></app-header>

</div>
<main role="main" class="container">

  <!-- Example row of columns -->
  <div class="row">

    <app-calendar [currentVenueID]="99"></app-calendar>

  </div> <!-- row -->

  <hr>
  <div>
    <h3>Coming Soon:</h3>
    <ul>
      <li>Fix tables so they don't close when editing</li>
      <li>Customize the Events and Staff tables by adding/removing columns</li>
      <li>Change your password from the User Settings page</li>
      <li>Forgot Password feature added to the log in screen</li>
      <li>Sort the Events table by Name or Date</li>
      <li>Reminders for events can be sent by text message</li>
      <li>View/Update venue contacts</li>
      <li>Send emails from website</li>
      <li>Upload documents instead of using links</li>
      <li>Filter the staff list by job training</li>
    </ul>
  </div>

</main><!-- /.container -->

<div>
  <app-footer></app-footer>
</div>
