<main role="main" class="container">

  <!-- Example row of columns -->
  <div class="row">
    
    <div class="col-md-4">
      <div class="h4">Coordinators</div>
      <table class="table table-sm">
        <tbody>
          <tr>
            <td>DR Program</td>
            <td>Kevin Thompson</td>
          </tr>
          <tr>
            <td>PNC</td>
            <td>Manit Suphavadeprasit</td>
          </tr>
          <tr>
            <td>Walnut Creek</td>
            <td>Sarah Alexander</td>
          </tr>
          <tr>
            <td>Carter-Finley</td>
            <td>Amy Cook</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-8">
      <!-- Calendar info found here: https://fullcalendar.io/docs/angular -->
      <full-calendar default-View="dayGridMonth" [plugins]="calendarPlugins"></full-calendar>
    </div> <!-- col-md-2 -->

  </div> <!-- row -->

</main><!-- /.container -->
