<div>
  <app-header></app-header>

</div>
<main role="main" class="container">

  <!-- Example row of columns -->
  <div class="row">

    <app-calendar [currentVenueID]="99"></app-calendar>

  </div> <!-- row -->

  <hr>
  <div>
    <h3>Coming Soon:</h3>
    <ul>
      <li>Customize the Events and Staff tables by adding/removing columns</li>
      <li>Change your password from the User Settings page</li>
      <li>Forgot Password feature added to the log in screen</li>
      <li>Reminders for events can be sent by text message</li>
      <li>View/Update venue contacts</li>
      <li>Send emails from website</li>
      <li>Upload documents instead of using links</li>
      <li>Filter the staff list by job training</li>
      <li>Bulk import events</li>
      <li>Bulk edit staff time in/time out</li>
      <li>Add tasks for each venue (example: reset training, forms, etc)</li>
      <li>Highlight expired alcohol training</li>
    </ul>
  </div>

</main><!-- /.container -->

<div>
  <app-footer></app-footer>
</div>
